h1 {
	color: darkblue;
	font-size:60px;
}

body {
	background: #c8c6c6;
}

.quote-wrapper{
	background-color: #fff;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4rem 1.5rem
}

.footer{
	align-items: center;
	padding: 4rem;
	text-align: center;
	background-color: #fff;
}
